
<h2><label id="word"></label></h2>

<div>
    <canvas id="canvas" width="500" height="300"
            style="border: 1px gainsboro dashed"></canvas>
    <input type="button" class="btn btn-danger "
           id="clear-btn" value="Clear" />
</div>


    <form>
        <textarea id="chat" class="form-control" style="height:200px"></textarea>
        <input type="text" id="msg-input" placeholder="Type text" />
        <input type="button" class="btn btn-danger " id="send-btn" value="Send" />
    </form>
<div>
    <label>Type !word to guess naswer (e.g. !house)</label>
</div>

@section scripts
{

    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.6/fabric.min.js"></script>

    <script>
        var drawPath;
        var initialiseCanvas = function () {

            document.puneCanvas = new fabric.Canvas('canvas');

            document.puneCanvas.isDrawingMode = true;

            var pathCreated = function (e) {
                console.log(e.path);
                $.connection.puns.server
                    .sendPath(JSON.stringify(e.path));
            };
            document.puneCanvas.loadPath = pathCreated;
            document.puneCanvas.on({
                'path:created': pathCreated
            });


            $("#clear-btn").click(function () {
                $.connection.puns.server.clear();
            });
        }

        drawPath = function (pathString) {
            var path = JSON.parse(pathString);
            fabric.util.enlivenObjects([path], function (objects) {
                objects.forEach(function (o) {
                    document.puneCanvas.add(o);
                });
            });
        }

        $.connection.puns.client.clear = function () {
            document.puneCanvas.clear();
        }

        $.connection.puns.client.loadImage = function (paths) {
            initialiseCanvas();
            for (var i = 0; i < paths.length; i++) {
                drawPath(paths[i]);
            }
        }

        $.connection.puns.client.drawPath = drawPath;
        $.connection.chat.client.setLabelText = function (msg) {
            document.getElementById('word').innerText = msg;
        };
        $.connection.hub.start();
        $.connection.chat.client.informCorrectAnswer = function(){
            document.puneCanvas.clear();
        };
        
        $.connection.hub.start().then(function () {
            console.log("Connected!:)");
        });

        $("#send-btn")
            .click(function () {
                var message = $("#msg-input").val();
                $.connection.chat.server.sendToAll(message);
                $("#chat").append(message + "\n");
                $("#msg-input").val("");
            });
        $.connection.chat.client.sendMessageToAll = function (message) {
            console.log(message);
            $("#chat").append(message + "\n");
        };
    </script>
}
